In [1]:
!uv pip install sql
!uv pip install ipython-sql

Audited 1 package in 6ms
Audited 1 package in 7ms

In [1]:
%%capture
%load_ext sql
%sql sqlite:///library.db
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [2]:
%%sql
-- Listing 9-1: Creating and filling the 2018 Public Libraries Survey table


DROP TABLE IF EXISTS pls_fy2018_libraries;

CREATE TABLE pls_fy2018_libraries (
    stabr text NOT NULL,
    fscskey text CONSTRAINT fscskey_2018_pkey PRIMARY KEY,
    libid text NOT NULL,
    libname text NOT NULL,
    address text NOT NULL,
    city text NOT NULL,
    zip text NOT NULL,
    county text NOT NULL,
    phone text NOT NULL,
    c_relatn text NOT NULL,
    c_legbas text NOT NULL,
    c_admin text NOT NULL,
    c_fscs text NOT NULL,
    geocode text NOT NULL,
    lsabound text NOT NULL,
    startdate text NOT NULL,
    enddate text NOT NULL,
    popu_lsa integer NOT NULL,
    popu_und integer NOT NULL,
    centlib integer NOT NULL,
    branlib integer NOT NULL,
    bkmob integer NOT NULL,
    totstaff numeric(8,2) NOT NULL,
    bkvol integer NOT NULL,
    ebook integer NOT NULL,
    audio_ph integer NOT NULL,
    audio_dl integer NOT NULL,
    video_ph integer NOT NULL,
    video_dl integer NOT NULL,
    ec_lo_ot integer NOT NULL,
    subscrip integer NOT NULL,
    hrs_open integer NOT NULL,
    visits integer NOT NULL,
    reference integer NOT NULL,
    regbor integer NOT NULL,
    totcir integer NOT NULL,
    kidcircl integer NOT NULL,
    totpro integer NOT NULL,
    gpterms integer NOT NULL,
    pitusr integer NOT NULL,
    wifisess integer NOT NULL,
    obereg text NOT NULL,
    statstru text NOT NULL,
    statname text NOT NULL,
    stataddr text NOT NULL,
    longitude numeric(10,7) NOT NULL,
    latitude numeric(10,7) NOT NULL
);

 * sqlite:///library.db
Done.
Done.

[]

In [3]:
%%sql
SELECT * FROM pls_fy2018_libraries

 * sqlite:///library.db
Done.

[]

In [4]:
%%sh
./importCSV.sh pls_fy2018_libraries.csv library.db pls_fy2018_libraries

âœ… Imported 'pls_fy2018_libraries.csv' into table 'pls_fy2018_libraries' in 'library.db'

In [5]:
%%sql
SELECT * FROM pls_fy2018_libraries
LIMIT 5;

 * sqlite:///library.db
Done.

[('AK', 'AK0001', 'AK0001-002', 'ANCHOR POINT PUBLIC LIBRARY', '34020 NORTH FORK ROAD', 'ANCHOR POINT', '99556', 'KENAI PENINSULA', '9072355692', 'NO', 'NP', 'SO', 'Y', 'CI1', 'N', '7/1/17', '6/30/18', 2057, 2040, 1, 0, 0, 0.67, 18201, 0, 179, 0, 3320, 0, 0, 9, 1245, 6032, 4, 1726, 11316, 2294, 60, 8, 1495, 1182, '08', '00', '00', '00', -151.825, 59.77965),
 ('AK', 'AK0002', 'AK0002-011', 'ANCHORAGE PUBLIC LIBRARY', '3600 DENALI STREET', 'ANCHORAGE', '99503', 'ANCHORAGE', '9073432892', 'NO', 'CO', 'MO', 'Y', 'MA1', 'N', '1/1/17', '12/31/17', 295365, 292940, 1, 4, 0, 76.65, 370812, 21587, 30963, 12992, 76404, 0, 14, 7311, 11400, 723272, 54306, 135828, 1574942, 553651, 1924, 165, 126846, 90135, '08', '00', '00', '00', -149.876, 61.18744),
 ('AK', 'AK0003', 'AK0003-002', 'ANDERSON COMMUNITY LIBRARY', '101 FIRST STREET', 'ANDERSON', '99744', 'DENALI', '9075822628', 'NO', 'CI', 'SO', 'Y', 'CI1', 'N', '7/1/17', '6/30/18', 269, 267, 1, 0, 0, 0.75, 15314, 0, 201, 0, 1403, 0, 0, 0, 480, 592, 300, 113, 1137, 264, 4, 5, 225, 0, '08', '00', '00', '00', -149.187, 64.34363),
 ('AK', 'AK0006', 'AK0006-002', 'KUSKOKWIM CONSORTIUM LIBRARY', '420 CHIEF EDDIE HOFFMAN HIGHWAY', 'BETHEL', '99559', 'BETHEL', '9075434516', 'NO', 'MJ', 'SO', 'Y', 'CI1', 'N', '7/1/17', '6/30/18', 6135, 6085, 1, 0, 0, 3, 34860, 21587, 425, 12992, 3782, 0, 0, 5, 2040, 51000, 1530, 1912, 14067, 3746, 406, 8, 6600, 5716, '08', '00', '00', '00', -161.771, 60.79114),
 ('AK', 'AK0007', 'AK0007-002', 'BIG LAKE PUBLIC LIBRARY', '3140 SOUTH BIG LAKE ROAD', 'BIG LAKE', '99652', 'MATANUSKA-SUSITNA', '9078617635', 'NO', 'CO', 'SO', 'Y', 'CO1', 'N', '7/1/17', '6/30/18', 12847, 12742, 1, 0, 0, 3, 28698, 21587, 2140, 12992, 3805, 0, 0, 47, 2551, 62249, 887, 2890, 36670, 15691, 363, 18, 15022, 8125, '08', '00', '00', '00', -149.819, 61.5475)]

In [6]:
%%sql
CREATE INDEX libname_2018_idx ON pls_fy2018_libraries (libname);

 * sqlite:///library.db
Done.

[]

In [10]:
%%sql
SELECT * FROM pls_fy2018_libraries LIMIT 5;

 * sqlite:///library.db
Done.

[('AK', 'AK0001', 'AK0001-002', 'ANCHOR POINT PUBLIC LIBRARY', '34020 NORTH FORK ROAD', 'ANCHOR POINT', '99556', 'KENAI PENINSULA', '9072355692', 'NO', 'NP', 'SO', 'Y', 'CI1', 'N', '7/1/17', '6/30/18', 2057, 2040, 1, 0, 0, 0.67, 18201, 0, 179, 0, 3320, 0, 0, 9, 1245, 6032, 4, 1726, 11316, 2294, 60, 8, 1495, 1182, '08', '00', '00', '00', -151.825, 59.77965),
 ('AK', 'AK0002', 'AK0002-011', 'ANCHORAGE PUBLIC LIBRARY', '3600 DENALI STREET', 'ANCHORAGE', '99503', 'ANCHORAGE', '9073432892', 'NO', 'CO', 'MO', 'Y', 'MA1', 'N', '1/1/17', '12/31/17', 295365, 292940, 1, 4, 0, 76.65, 370812, 21587, 30963, 12992, 76404, 0, 14, 7311, 11400, 723272, 54306, 135828, 1574942, 553651, 1924, 165, 126846, 90135, '08', '00', '00', '00', -149.876, 61.18744),
 ('AK', 'AK0003', 'AK0003-002', 'ANDERSON COMMUNITY LIBRARY', '101 FIRST STREET', 'ANDERSON', '99744', 'DENALI', '9075822628', 'NO', 'CI', 'SO', 'Y', 'CI1', 'N', '7/1/17', '6/30/18', 269, 267, 1, 0, 0, 0.75, 15314, 0, 201, 0, 1403, 0, 0, 0, 480, 592, 300, 113, 1137, 264, 4, 5, 225, 0, '08', '00', '00', '00', -149.187, 64.34363),
 ('AK', 'AK0006', 'AK0006-002', 'KUSKOKWIM CONSORTIUM LIBRARY', '420 CHIEF EDDIE HOFFMAN HIGHWAY', 'BETHEL', '99559', 'BETHEL', '9075434516', 'NO', 'MJ', 'SO', 'Y', 'CI1', 'N', '7/1/17', '6/30/18', 6135, 6085, 1, 0, 0, 3, 34860, 21587, 425, 12992, 3782, 0, 0, 5, 2040, 51000, 1530, 1912, 14067, 3746, 406, 8, 6600, 5716, '08', '00', '00', '00', -161.771, 60.79114),
 ('AK', 'AK0007', 'AK0007-002', 'BIG LAKE PUBLIC LIBRARY', '3140 SOUTH BIG LAKE ROAD', 'BIG LAKE', '99652', 'MATANUSKA-SUSITNA', '9078617635', 'NO', 'CO', 'SO', 'Y', 'CO1', 'N', '7/1/17', '6/30/18', 12847, 12742, 1, 0, 0, 3, 28698, 21587, 2140, 12992, 3805, 0, 0, 47, 2551, 62249, 887, 2890, 36670, 15691, 363, 18, 15022, 8125, '08', '00', '00', '00', -149.819, 61.5475)]

In [7]:
%%sql
PRAGMA index_list('pls_fy2018_libraries');

 * sqlite:///library.db
Done.

[(0, 'libname_2018_idx', 0, 'c', 0),
 (1, 'sqlite_autoindex_pls_fy2018_libraries_1', 1, 'pk', 0)]

In [8]:
%%sql
SELECT sql FROM sqlite_master WHERE type = 'index' AND name = 'libname_2018_idx';

 * sqlite:///library.db
Done.

[('CREATE INDEX libname_2018_idx ON pls_fy2018_libraries (libname)',)]

In [9]:
%%sql
SELECT count(*)
FROM pls_fy2018_libraries;

 * sqlite:///library.db
Done.

[(9261,)]

In [10]:
%%sql
SELECT count(phone)
FROM pls_fy2018_libraries;

 * sqlite:///library.db
Done.

[(9261,)]

In [11]:
%%sql 
SELECT libname, count(libname)
    FROM pls_fy2018_libraries
    GROUP BY libname
    ORDER BY count(libname) DESC
    LIMIT 20;

 * sqlite:///library.db
Done.

[('OXFORD PUBLIC LIBRARY', 10),
 ('MADISON PUBLIC LIBRARY', 8),
 ('BLOOMFIELD PUBLIC LIBRARY', 7),
 ('CARNEGIE PUBLIC LIBRARY', 7),
 ('PRINCETON PUBLIC LIBRARY', 7),
 ('BURLINGTON PUBLIC LIBRARY', 6),
 ('FRANKLIN PUBLIC LIBRARY', 6),
 ('MILFORD PUBLIC LIBRARY', 6),
 ('WAYNE COUNTY PUBLIC LIBRARY', 6),
 ('ANDOVER PUBLIC LIBRARY', 5),
 ('BRIDGEPORT PUBLIC LIBRARY', 5),
 ('CANTON PUBLIC LIBRARY', 5),
 ('ELGIN PUBLIC LIBRARY', 5),
 ('HILLSBORO PUBLIC LIBRARY', 5),
 ('JEFFERSON PUBLIC LIBRARY', 5),
 ('LEBANON PUBLIC LIBRARY', 5),
 ('LINCOLN PUBLIC LIBRARY', 5),
 ('LYONS PUBLIC LIBRARY', 5),
 ('MARION PUBLIC LIBRARY', 5),
 ('MONROE PUBLIC LIBRARY', 5)]

In [12]:
%%sql
SELECT max(visits), min(visits)
FROM pls_fy2018_libraries
WHERE visits > 0;

 * sqlite:///library.db
Done.

[(16686945, 21)]